[Unit]
Description=Orac Control Service
After=mec.service
Requires=mec.service

[Service]
User=patch
Environment=HOME=/home/patch
Restart=always
WorkingDirectory=/usr/local/orac-control-web/backend
ExecStart=/usr/bin/python3 ./main.py

[Install]
WantedBy=multi-user.target